.parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child_container{
    width: 800px;
    min-height: 500px;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.child_container h4 span{
    font-weight: 700;
}
.styled_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled_table thead tr {
    background-color: #1d9bf0;
    color: #ffffff;
    text-align: left;
}
.styled_table th,
.styled_table td {
    padding: 12px 15px;
}
.styled_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* .styled_table tbody tr:last-of-type {
    border-bottom: 2px solid #1d9bf0;
} */
.styled_table tbody tr.active_row {
    font-weight: bold;
    color: #1d9bf0;
}
.chart_div{
    background: #fff;
    margin: 10px;
   border-radius: 10px;
}